html,
body {
    height: 100%;
    background-color: #5b9a8b;
}

.table {
    --bs-table-bg: #252b48;
    --bs-table-color: #f7e987;
    border-color: #5b9a8b;
}

h1 {
    font-size: 1.5em;
    color: #f7e987;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2 {
    font-size: 1.25em;
    color: #f7e987;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 3px 3px 0 #000;
}

h3 {
    font-size: 1.1em;
    color: #f7e987;
}

td form {
    margin: 0;
    padding: 0;
    margin-top: -.25em;
}

.button-fixed-width {
    width: 150px;
}

.button-link {
    padding: 0;
}

.invalid-feedback {
    display: block;
}

.w-10 {
    width: 10% !important;
}

.my-navbar {
    background-color: #f7e987;
    color: #5b9a8b !important;
}

.my-navbar .link a:hover {
    text-decoration: underline;
}

.my-navbar .logo {
    width: 26px;
    height: 26px;
}

.my-footer {
    background-color: #f7e987;
    height: 32px;
    color: #5b9a8b;
}

.cart-image {
    width: 3.1rem;
    padding: 0.25rem;
    border-radius: 0.5rem;
}

.cart-item {
    height: auto;
}

main {
    color: #f7e987;
}

.startButton {
    color: #f7e987;
    font-size: 1.1em;
    background-color: #252b48;
}