<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/icon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Нереальные тесты</title>
    <script type="text/javascript" src="/webjars/bootstrap/5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body class="h-100 d-flex flex-column">
    <nav class="navbar navbar-expand-md my-navbar" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" style="color: #5b9a8b !important;">
                Нереальные тесты
            </a>
            <th:block sec:authorize="isAuthenticated()" th:with="userName=${#authentication.name}">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navbar"
                    aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="main-navbar">
                    <ul class="navbar-nav me-auto link" th:with="activeLink=${#objects.nullSafe(servletPath, '')}">
                        <th:block sec:authorize="hasRole('ADMIN')">
                            <a class="nav-link" href="/admin/user" style="color: #5b9a8b !important;"
                                th:classappend="${activeLink.startsWith('/admin/user') ? 'active' : ''}">
                                Пользователи
                            </a>
                            <a class="nav-link" href="/admin/test" style="color: #5b9a8b !important;"
                                th:classappend="${activeLink.startsWith('/admin/test') ? 'active' : ''}">
                                тесты
                            </a>
                            <a class="nav-link" href="/admin/question" style="color: #5b9a8b !important;"
                                th:classappend="${activeLink.startsWith('/admin/question') ? 'active' : ''}">
                                вопросы
                            </a>
                            <a class="nav-link" href="/h2-console/" style="color: #5b9a8b !important;"
                                target="_blank">Консоль H2</a>
                        </th:block>
                        <a class="nav-link" href="/profile" style="color: #5b9a8b !important;"
                            th:classappend="${activeLink.startsWith('/profile') ? 'active' : ''}">
                            Профиль
                        </a>
                    </ul>
                    <ul class="navbar-nav" th:if="${not #strings.isEmpty(userName)}">
                        <form th:action="@{/logout}" method="post">
                            <button type="submit" style="color: #5b9a8b !important;" class="navbar-brand nav-link"
                                onclick="return confirm('Вы уверены?')">
                                Выход ([[${userName}]])
                            </button>
                        </form>
                    </ul>
                </div>
            </th:block>
        </div>
    </nav>
    <main class="container-fluid p-2" layout:fragment="content">
    </main>
    <footer class="my-footer mt-auto d-flex flex-shrink-0 justify-content-center align-items-center">
        Тимур, [[${#dates.year(#dates.createNow())}]]
    </footer>
</body>

</html>