<!DOCTYPE html>
<html lang="ru" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">

<head>
    <title>Личный кабинет</title>
</head>

<body>
    <main layout:fragment="content">
        <div class="row" style="height: 100%;">
            <div class="h-100" style="width: auto;">
                <div class="col">
                    <h1>Профиль</h1>
                    <div class="mb-1">
                        <a th:href="@{/profile/testsPassed}" class="btn btn-primary">пройденные тесты</a>
                    </div>
                    <div class="mb-1">
                        <a th:href="@{/profile/testsCreated}" class="btn btn-primary">созданные тесты</a>
                    </div>
                </div>
            </div>
            <div class="h-100 p-0" style="background-color: black; width: 5px"></div>
            <div class="col">
                <h3>Созданные тесты</h3>
                <th:block>
                    <tr th:each="test : ${items}">
                        <div class="row justify-content-center align-items-center g-2 mt-1 mb-1">
                            <div class="col-2" th:text="${test.name}"></div>
                            <div class="col" th:text="${test.description}"></div>
                            <form th:action="@{/profile/testsCreated/edit/{id}(id=${test.id})}" method="get">
                                <input type="hidden" th:name="page" th:value="${page}">
                                <button type="submit" class="col-2 btn btn-secondary startButton">Редактировать</button>
                            </form>
                            <form th:action="@{/profile/testsCreated/delete/{id}(id=${test.id})}" method="post">
                                <input type="hidden" th:name="page" th:value="${page}">
                                <button type="submit" class="col-2 btn btn-danger startButton"
                                    onclick="return confirm('Вы уверены?')">Удалить</button>
                            </form>
                        </div>
                    </tr>
                </th:block>
                <th:block th:replace="~{ pagination :: pagination (
                    url=${'profile/testsCreated'},
                    totalPages=${totalPages},
                    currentPage=${currentPage}) }" />
                <a th:href="@{/profile/testsCreated/edit/(page=${page})}" class="btn btn-primary startButton">Создать
                    тест</a>
            </div>
        </div>
    </main>
</body>

</html>