<!DOCTYPE html>
<html lang="ru" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">

<head>
    <title>Редакторовать вопрос</title>
</head>

<body>
    <main layout:fragment="content">
        <form action="#" th:action="@{/profile/questions/edit/{id}(id=${question.id},page=${page},testId=${testId})}"
            th:object="${question}" method="post">
            <div class="mb-3">
                <label for="id" class="form-label">ID</label>
                <input type="text" th:value="*{id}" id="id" class="form-control" readonly disabled>
            </div>
            <div class="mb-3">
                <label for="testId" class="form-label">тест ид</label>
                <input type="number" th:field="*{testId}" id="testId" class="form-control" readonly disabled>
                <div th:if="${#fields.hasErrors('testId')}" th:errors="*{testId}" class="invalid-feedback"></div>
            </div>
            <div class="mb-3">
                <label for="text" class="form-label">тект</label>
                <input type="text" th:field="*{text}" id="text" class="form-control">
                <div th:if="${#fields.hasErrors('text')}" th:errors="*{text}" class="invalid-feedback"></div>
            </div>
            <div class="mb-3">
                <label for="variant1" class="form-label">вариант1</label>
                <input type="text" th:field="*{variant1}" id="variant1" class="form-control">
                <div th:if="${#fields.hasErrors('variant1')}" th:errors="*{variant1}" class="invalid-feedback">
                </div>
            </div>
            <div class="mb-3">
                <label for="variant2" class="form-label">вариант2</label>
                <input type="text" th:field="*{variant2}" id="variant1" class="form-control">
                <div th:if="${#fields.hasErrors('variant2')}" th:errors="*{variant2}" class="invalid-feedback">
                </div>
            </div>
            <div class="mb-3">
                <label for="variant3" class="form-label">вариант3</label>
                <input type="text" th:field="*{variant3}" id="variant3" class="form-control">
                <div th:if="${#fields.hasErrors('variant3')}" th:errors="*{variant3}" class="invalid-feedback">
                </div>
            </div>
            <div class="mb-3">
                <label for="variant4" class="form-label">вариант4</label>
                <input type="text" th:field="*{variant4}" id="variant4" class="form-control">
                <div th:if="${#fields.hasErrors('variant4')}" th:errors="*{variant4}" class="invalid-feedback">
                </div>
            </div>
            <div class="mb-3">
                <label for="rightAnser" class="form-label">правильный вариант</label>
                <select name="rightAnser" required>
                    <option value="">Выберите ответ</option>
                    <option value="1" th:selected="${question.rightAnser == 1}">1</option>
                    <option value="2" th:selected="${question.rightAnser == 2}">2</option>
                    <option value="3" th:selected="${question.rightAnser == 3}">3</option>
                    <option value="4" th:selected="${question.rightAnser == 4}">4</option>
                </select>
                <div th:if="${#fields.hasErrors('rightAnser')}" th:errors="*{rightAnser}" class="invalid-feedback">
                </div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">картинка</label>
                <input type="text" th:field="*{image}" id="image" class="form-control">
                <div th:if="${#fields.hasErrors('image')}" th:errors="*{image}" class="invalid-feedback"></div>
            </div>
            <div class="mb-3 d-flex flex-row">
                <button class="btn btn-primary me-2 button-fixed-width" type="submit">Сохранить</button>
                <a class="btn btn-secondary button-fixed-width"
                    th:href="@{/profile/questions/{testId}(page=${page},testId=${testId})}">Отмена</a>
            </div>
        </form>
    </main>
</body>

</html>