<!DOCTYPE html>
<html lang="ru" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">

<head>
    <title>Отвечать вопрос</title>
</head>

<body>
    <main layout:fragment="content">
        <form action="#" th:action="@{/testInProcess/ans/}" method="post">
            <input type="hidden" th:name="testId" th:value="${testId}">
            <input type="hidden" th:name="pageId" th:value="${pageId}">
            <input type="hidden" th:name="questionId" th:value="${questionId}">
            <div class="col mb-2" th:object="${anser}">
                <h3 class="row justify-content-center" th:text="${question.text}"></h3>
                <div class="form-check" th:each="variant, item : *{variants}">
                    <input class="form-check-input" type="radio" name="anserId"
                        th:value="*{variants[__${item.index}__].id}" th:field="*{value}">
                    <label class="form-check-label" for="" th:for="${id}">
                        [[${variant.text}]]
                    </label>
                </div>
                <div class="row justify-content-center">
                    <button class="row btn btn-primary me-2 button-fixed-width" type="submit">Сохранить</button>
                </div>
            </div>
        </form>
    </main>
</body>

</html>