<!DOCTYPE html>
<html lang="ru" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">

<head>
    <title>Отвечать вопрос</title>
</head>

<body>
    <main layout:fragment="content">
        <form action="#" th:action="@{/testInProcess/ans/}" method="post">
            <input type="hidden" th:name="testId" th:value="${testId}">
            <input type="hidden" th:name="pageId" th:value="${pageId}">
            <input type="hidden" th:name="questionId" th:value="${questionId}">
            <div class="col mb-2">
                <h3 class="row justify-content-center" th:text="${question.text}"></h3>
                <div class="row justify-content-center">
                    <div class="col-auto" th:text="${question.variant1}"></div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-auto" th:text="${question.variant2}"></div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-auto" th:text="${question.variant3}"></div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-auto" th:text="${question.variant4}"></div>
                </div>
                <div class="row justify-content-center">
                    <select name="anserId" required>
                        <option value="">Выберите ответ</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>
                <div class="row justify-content-center">
                    <button class="row btn btn-primary me-2 button-fixed-width" type="submit">Сохранить</button>
                </div>
            </div>
        </form>
    </main>
</body>

</html>