<!DOCTYPE html>
<html lang="ru" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">

<head>
    <title>Отвечать вопрос</title>
</head>

<body>
    <main layout:fragment="content">
        <div class="row w-100 d-flex justify-content-center m-3">
            <img src="/image-cd5bd8e6.jpg" style="object-fit: cover; width: 50%; height: 500px;">
        </div>
        <h3 class="row w-100 d-flex justify-content-center m-1" th:text="${question.text}"></h3>
        <div class="row w-100 justify-content-center m-3">
            <form class="col-6 m-0" action="#" th:action="@{/testInProcess/ans/}" method="post">
                <input type="hidden" th:name="testId" th:value="${testId}">
                <input type="hidden" th:name="pageId" th:value="${pageId}">
                <input type="hidden" th:name="questionId" th:value="${questionId}">
                <div th:object="${anser}">
                    <div class="form-check me-md-3" th:each="variant, item : *{variants}">
                        <input class="form-check-input" type="radio" name="anserId" style="background-image: url('/checkBox.png'); border: none;
    background-clip: padding-box;" th:value="*{variants[__${item.index}__].id}" th:field="*{value}">
                        <label class="form-check-label" for="" th:for="${id}">
                            [[${variant.text}]]
                        </label>
                    </div>
                    <div class="row justify-content-center">
                        <button class="row btn btn-primary me-2 button-fixed-width" type="submit">Отправить</button>
                    </div>
                </div>
            </form>
        </div>
    </main>
</body>

</html>